*.o
*.obj
*.a
*.so
*.lo
*.ko
*.la
*.sub
*.tex
*.guess
*.status
*.spec
*.pc
*.bin
*.elf
*.cmd
*.m4
*.gz
*.tar
*.zip
*.tbz
*.tgz
*.gz2
*.gzip
*.bz2
*.in
*.ini
*.patch
*.md
*.log
*.txt
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pyc
.*
README
Makefile
__pycache__/
.idea/
storage/
